.is-flex {
    display: flex;
}
.is-full-width {
    width: 100% !important;
}
.is-full-height {
    height: 100% !important;
}
.is-centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.is-spaced {
    justify-content: space-between;
}
.is-right {
    justify-content: flex-end;
}
.is-left {
    justify-content: flex-start;
}
.release-left {
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        margin-left: calc(-50vw + 50%);
        padding-left: calc(50vw - 50%);
    }
    @media screen and (max-width: 640px) {
        margin-right: calc(-50vw + 50%);
        margin-left: calc(-50vw + 50%);
        padding-right: calc(50vw - 50%);
        padding-left: calc(50vw - 50%);
    }
}
.release-right {
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        margin-right: calc(-50vw + 50%);
        padding-right: calc(50vw - 50%);
    }
    @media screen and (max-width: 640px) {
        margin-right: calc(-50vw + 50%);
        margin-left: calc(-50vw + 50%);
        padding-right: calc(50vw - 50%);
        padding-left: calc(50vw - 50%);
    }
}

.release-banner {
    height: 100%;
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
    }
}

.row {
    .row {
      margin: 0;
    }
  }

.column, .columns {
    @include breakpoint(medium only) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}