// borders

.has-border {
    &-top {
        border-top: $border-red;
    }
    &-bottom {
        border-bottom: $border-red;
    }
    &-top-thick {
        border-top: solid 4px $color-red;
    }

    &-top-white {
        border-top: 5px solid $color-white;

        @include breakpoint (small only) {
            border-top: 3px solid $color-white;
        }
    }
}

.has-no-border {
   border: none;
}

// backgrounds

.has-bg-grey {
    background-color: $color-grey-light;
}

.has-bg-blue {
    background-color: $color-blue-light;
}

.has-bg-blue-medium {
    background-color: $color-blue-medium;
}

// paddings and margins

.no-padding {
    padding: 0;
}

.no-padding-medium-up {
    @include breakpoint (medium up)  {
        padding: 0;
    }
}

.has-padding-top {
    padding-top: $m-space;
}

.has-padding-bottom {
    padding-bottom: $m-space;
    margin: 0;
}

.has-s-padding-top {
    padding-top: $s-space;
}
.has-s-padding-bottom {
    padding-bottom: $s-space;
}

.has-m-padding-top {
    padding-top: $m-space;
}
.has-m-padding-bottom {
    padding-bottom: $m-space;
}

.has-l-padding-top {
    padding-top: $l-space;
}
.has-l-padding-bottom {
    padding-bottom: $l-space;
}

.has-xs-padding-right {
    padding-right: $xs-space;
}

.no-margin {
    margin: 0;
}

.has-l-margin-top {
    margin-top: $l-space;
}

.has-m-margin-top {
    margin-top: $m-space;
}

.has-s-margin-top {
    margin-top: $s-space;
}

.has-xs-margin-top {
    margin-top: $xs-space;
}

.has-margin-bottom {
    margin-bottom: $l-space;
}

.has-l-margin-bottom {
    margin-bottom: $l-space;
}

.has-m-margin-bottom {
    margin-bottom: $m-space;
}

.has-xxxs-margin-bottom {
    margin-bottom: $xxxs-space;
}

.no-padding-top {
    @include no-padding-top;
}

.no-margin-bottom {
    @include no-margin-bottom;
}

.no-margin-top {
    @include no-margin-top;
}

.push-right {
    @include breakpoint(large) {
        padding-right: $l-space;
    }
}

.push-left {
    @include breakpoint(large) {
        padding-left: $l-space;
    }
}

.has-mobile-padding {
    @include breakpoint (small only) {
        padding-top: $m-space;
        padding-bottom: $m-space;
    }
}

.has-xxl-padding {
    @include breakpoint (xxlarge) {
        padding-left: $l-space;
        padding-right: $l-space;
    }
}

.word-wrap {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.no-scroll {
    overflow: hidden !important;
}

// alignments
.right {
    float: right !important;
}

// flex customizations
.no-wrap-large {
    @include breakpoint(large) {
        flex-wrap: nowrap;
    }
}