.c-mail-to {
    height: 40px;
    width: 40px;
    background-color: $color-blue;
    margin-bottom: $m-space;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 14px;
        height: 10.5px;
        position: absolute;
        right: 0.75em;
        top: 50%;
        transform: translateY(-50%);
        background: url('/build/images/icons/ico-envelope.svg') no-repeat;
    }
    @include breakpoint(medium) {
        margin-bottom: $xxxs-space;
    }
}
