.c-link {
    font-family: $font-bold;
    font-size: rem-calc(18px);
    line-height: 18px;
    transition: all 150ms ease;
    display: inline-block;

    &-primary { // arrows
        color: $color-blue;
        text-align: right;
        text-decoration: none;
        padding-right: 25px;
        position: relative;
        &:after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13'%3E%3Cpath fill='%23355E7C' d='M9.2892767,13.0357233 C9.41725907,13.1637057 9.56611673,13.225 9.75,13.225 C9.93388327,13.225 10.0827409,13.1637057 10.2107233,13.0357233 L15.3107233,7.9357233 C15.4387057,7.80774093 15.5,7.65888327 15.5,7.475 C15.5,7.29111673 15.4387057,7.14225907 15.3146943,7.01816046 L14.4482233,6.1892767 C14.3202409,6.06129433 14.1713833,6 13.9875,6 C13.8036167,6 13.6547591,6.06129433 13.5267767,6.1892767 L9.75,9.96605339 L5.9732233,6.1892767 C5.84524093,6.06129433 5.69638327,6 5.5125,6 C5.32861673,6 5.17975907,6.06129433 5.04780566,6.19316046 L4.1892767,7.0142767 C4.06129433,7.14225907 4,7.29111673 4,7.475 C4,7.65888327 4.06129433,7.80774093 4.1892767,7.9357233 L9.2892767,13.0357233 Z' transform='rotate(-90 5.25 11.113)'/%3E%3C/svg%3E");
            width: rem-calc(12.25);
            height: rem-calc(11.92);
            margin: 0 0 6px 0;
            position: absolute;
            right: 0;
        }
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    &-secondary { // arrow with background
        background-color: $color-blue;
        border-radius: $border-radius-small;
        color: $color-blue-medium;
        padding: $xs-space $s-space;
        text-decoration: none;
        &:after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13'%3E%3Cpath fill='%23C8DBE1' d='M9.2892767,13.0357233 C9.41725907,13.1637057 9.56611673,13.225 9.75,13.225 C9.93388327,13.225 10.0827409,13.1637057 10.2107233,13.0357233 L15.3107233,7.9357233 C15.4387057,7.80774093 15.5,7.65888327 15.5,7.475 C15.5,7.29111673 15.4387057,7.14225907 15.3146943,7.01816046 L14.4482233,6.1892767 C14.3202409,6.06129433 14.1713833,6 13.9875,6 C13.8036167,6 13.6547591,6.06129433 13.5267767,6.1892767 L9.75,9.96605339 L5.9732233,6.1892767 C5.84524093,6.06129433 5.69638327,6 5.5125,6 C5.32861673,6 5.17975907,6.06129433 5.04780566,6.19316046 L4.1892767,7.0142767 C4.06129433,7.14225907 4,7.29111673 4,7.475 C4,7.65888327 4.06129433,7.80774093 4.1892767,7.9357233 L9.2892767,13.0357233 Z' transform='rotate(-90 5.25 11.113)'/%3E%3C/svg%3E");
            width: rem-calc(12.25);
            height: rem-calc(11.92);
            margin: 0 0 6px 15px;
        }
        &:hover,
        &:focus {
            background: $color-blue-medium;
            color: $color-blue;
            &:after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13'%3E%3Cpath fill='%23355E7C' d='M9.2892767,13.0357233 C9.41725907,13.1637057 9.56611673,13.225 9.75,13.225 C9.93388327,13.225 10.0827409,13.1637057 10.2107233,13.0357233 L15.3107233,7.9357233 C15.4387057,7.80774093 15.5,7.65888327 15.5,7.475 C15.5,7.29111673 15.4387057,7.14225907 15.3146943,7.01816046 L14.4482233,6.1892767 C14.3202409,6.06129433 14.1713833,6 13.9875,6 C13.8036167,6 13.6547591,6.06129433 13.5267767,6.1892767 L9.75,9.96605339 L5.9732233,6.1892767 C5.84524093,6.06129433 5.69638327,6 5.5125,6 C5.32861673,6 5.17975907,6.06129433 5.04780566,6.19316046 L4.1892767,7.0142767 C4.06129433,7.14225907 4,7.29111673 4,7.475 C4,7.65888327 4.06129433,7.80774093 4.1892767,7.9357233 L9.2892767,13.0357233 Z' transform='rotate(-90 5.25 11.113)'/%3E%3C/svg%3E");
                width: rem-calc(12.25);
                height: rem-calc(11.92);
                margin: 0 0 6px 15px;
            }
        }
    }
}