.c-list {
    &-directory-detail {
        align-items: flex-start;
    }
    &-error {
        &-server {
            @include flex-row;
            border-top: 2px solid $color-red;
            padding: $m-space 0;
            &-title {
                font-family: $font-bold;
            }
        }
    }
    &.c-recent-list {
        @include flex-column;
        justify-content: center;
        @include breakpoint(large) {
            @include flex-row;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: $m-space;
        }
        .c-recent-item {
            @include flex-column;
            align-items: center;
            text-decoration: none;
            padding: $s-space 0;
            @include breakpoint(large) {
                flex: 0 0 29%;
                justify-content: center;
                text-align: center;
                padding: 0;
                margin: 0 $xs-space;
                &:last-child,
                &:first-child {
                    margin: 0;
                }
            }
        }
        .c-recent-img {
            width: 100%;
            @include breakpoint (medium down) {
                text-align: center;
            }
        }
        .c-recent-content {
            text-align: left;
            width: 100%;
        }
        .c-recent-title {
            a {
                display: inline-block;
            }
        }
    }
    &.c-news-list {
        border-top: 4px solid #DFDCE3; // SE TODO
        position: relative;
        .c-news-item {
            border-bottom: 1px solid #C3C3C3; // SE TODO
            &:last-child {
                border-bottom: none;
            }
            @include flex-column();
            align-items: center;
            padding: 30px 0; //SE TODO
            @include breakpoint(large) {
                flex-direction: row;
            }
            &-image {
                width: 100%;
                flex-shrink: 0;
                display: inline-block;
                text-align: center;
                @include breakpoint(large) {
                    text-align: initial;
                    width: 45%;
                }
            }
            &-content {
                padding-top: $s-space;
                width: 100%;
                @include breakpoint(large) {
                    padding: 0 0 0 $s-space;
                    width: 55%;
                }
                p {
                    @include no-margin-bottom;
                }
            }
        }
    }
    &.c-events-list {
        border-top: 2px solid $color-red;
        margin-bottom: 30px; // SE TODO
        .c-events-item {
            @include flex-column;
            position: relative;
            padding: $m-space 0 $s-space 0;

            @include breakpoint(medium) {
                flex-direction: row;
                align-items: flex-start;
            }

            &-content {
                padding-top: $s-space;
                @include breakpoint(medium) {
                    @include flex-column;
                    padding-top: 0;
                    padding-left: 30px;
                    width: 80%;
                }
            }

            &-subcontent {
                .subcontent-main{
                    @include flex-column;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    border: 2px solid $color-grey;
                    min-height: 161px;
                    text-align: center;
                    width: 173px;

                    hr {
                        margin: 10px 0;
                        width: 50%;
                        background: $color-red;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                .subcontent-callout {
                    background-color: $color-red;
                    color: $color-white;
                    font-size: 18px;
                    text-align: center;
                    padding: 12px 0;
                    width: 173px;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
            &:first-child {
                .c-modal {
                    top: -100px;
                }
            }
            &:last-child {
                .c-modal {
                    top: initial;
                    bottom: -40px;
                }
            }
        }
    }
    &.c-alumni-list {
        @include flex;
        border-top: 3px solid $color-red;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $s-space;
        padding-top: $s-space;
        .c-alumni-item {
            padding: $xs-space 0;
            width: 100%;

            @include breakpoint(medium) {
                padding: $xs-space $s-space $xs-space 0;
                width: 50%;
            }
        }
    }
    &.c-jobs-list,
    &.c-resources-list,
    &.c-results-list {
        @include flex-column;
        border-top: 2px solid $color-red;
        .c-jobs-item,
        .c-resources-item ,
        .c-results-item {
            padding: $m-space 0 $s-space 0;
            border-bottom: 1px solid $color-red;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    &-contact-info {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            padding-left: 0;
            &.social-link {
                svg {
                    margin-right: 10px;
                }
            }
        }

    }
    &.c-home-events-list {
        @include list-unstyled; 

        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: $s-space;

            &:before {
                content: url('/build/images/icons/ico-calendar.svg');
                width: rem-calc(21);
                height: rem-calc(24);
                position: absolute;
                top: 2px;
                left: 0;
            }

            p {
                margin-bottom: 0;
            }
        }


    }
}
