.c-profile-image {
    &-preview {
        overflow: auto;
        margin-bottom: $s-space;
        img {
            max-width: none;
        }
    } 

    &-controls {
        display: flex;
        align-items: center;

        .c-form-field {
            margin-bottom: 0;
        }

        .c-form-submit {
            margin-top: 0;
            @include breakpoint (medium) {
                margin-left: $s-space;
            }
        }

        @media screen and (max-width: 420px) {
            flex-wrap: wrap;
            .c-form-submit {
                margin-top: $s-space;
                margin-left: 0;
            }
        }
    }
}

#image-upload {
    @include breakpoint (small only) {
        display: none;
    }
}