.c-tile {
  padding-top: $s-space;
  padding-bottom: $s-space;


  .s-richtext {
    padding: 0;
  }


  @include breakpoint(medium) {
    padding-top: $m-space;
    padding-bottom: $m-space;
  }
  
  .has-bg-blue & ,
  .has-bg-blue-medium & {

    .s-richtext {
      padding: 0;
  
      a:not(.c-link):not(.c-button) {
        color: $color-grey; 
  
        &:hover,
        &:focus {
          color: $color-grey;
        }
      }
    }
  }

  &-left {
    padding-right: $l-space;
    padding-left: 0.9375rem;
    @include breakpoint (medium down) {
      padding-right: 0.9375rem;
    }
    @include breakpoint (xxlarge) {
      padding-left: $l-space;
    }

  }

  &-right {
    padding-right: 0.9375rem;
    padding-left: $l-space;
    @include breakpoint (medium down) {
      padding-left: 0.9375rem;
    }
    @include breakpoint (xxlarge) {
      padding-right: $l-space;
    }
  }

  &-footer {
    padding-top: $s-space;
    display: flex;
    justify-content: flex-end;
    p {
        margin-bottom: 0;
    }
  }
  

  &-spotlight {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
    &-image,
    &-content {
      flex: 1 auto;
      height: 100%;
      width: calc(50% - 15px);
    }

    &-image {
     padding-right: 15px;
      @include breakpoint (medium down) {
        width: calc(30% - 15px)
      }

      img {
        max-height: 100%;
      }
    }
    &-content {
     padding-left: 15px;
      @include breakpoint(medium down) {
        width: calc(70% - 15px);
      }
      .content-wrap {  
        height: 100%;
      }
    }


  }

  &-moves {
    @include breakpoint (medium) {
      border-top: 3px solid $color-red;
      border-right: 5px solid $color-white;
    }

  }

  &-resources {
    @include breakpoint (large up) {
      padding-top: 0;
    }
  }

  &-media {
    height: 100%;
    @include breakpoint (medium) {
      border-right: 5px solid $color-white;
    }
  }

  &-twitter {
    height: 100%;

    @include breakpoint (small only) {
      border-top: 3px solid $color-white;
    }

    .twitter-logo-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      
      h2 {
        color: $color-blue-twitter;
      }

      .c-svg {
        margin-top: $xxxs-space;
        margin-right: $xxs-space;
      }
    }

    .twitter-wrapper {
      max-height: 500px;
      overflow-y: auto;
      scrollbar-color:  $color-grey $color-white;
      scrollbar-face-color: $color-grey;
      -webkit-overflow-scrolling: touch;

      @include breakpoint (small only) {
        margin: 0 $xs-space;
      }
  
      &::-webkit-scrollbar {
        width: 10px;
        }
        
      &::-webkit-scrollbar-thumb {
            border-radius: 50px;
        background-color: $color-grey;
        outline: 1px solid $color-grey;
          }
          
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-track-piece {
        background-color: $color-white;
      } 
    }
  }

  &-grid { //CSS gris with IE prefixes
    display: -ms-grid;
    display: grid;
     -ms-grid-columns: 1fr 1.875rem 1fr 1.875rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1.875rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-gap: 1rem 1.875rem;

    @include breakpoint (medium down) {
      display: block !important;
    }

    & > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    & > *:nth-child(2) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    & > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    & > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    & > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    & > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    li {
      padding-right: $xs-space;
    }
  }
    
}
