@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
@model string

<div class="c-form-error-summary" tabindex="-1" aria-hidden="true">
    <p class="c-form-error-summary-title has-svg">
        <img class="c-svg" src="/build/images/icons/ico-error.svg" alt="">
        @ResHelper.GetString(Constants.ResourceStrings.Form.GlobalErrorTitle)</p>
    <p class="c-form-error-summary-content">@Model</p>
    <ul></ul>
</div>
