@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
<div class="c-form-error-server" tabindex="0" aria-hidden="true">
    <p class="c-form-error-server-title">@ResHelper.GetString(Constants.ResourceStrings.Form.GlobalServerError)</p>
</div>
