@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
<!-- loader vue template -->

<!-- The 'Minhal' option -->
<template v-cloak v-if="loading == true">
    <div role="presentation" class="c-loader">
        <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <p class="c-loader-text">@ResHelper.GetString(Constants.ResourceStrings.Loading)</p>
    </div>
</template>

