@model dynamic

<div class="c-form-field-wrapper">
    @ViewBag.Label
    @ViewBag.Editor
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.ExplanationText))
{
    <p>@ViewBag.ExplanationText</p>
}

<span class="c-form-error-message" id=""></span>
