<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings xdt:Transform="RemoveAttributes(file)">
        <add key="CMSWebFarmServerName" value="OslerAlumniWebsite"
             xdt:Transform="Insert" />
    </appSettings>
    <ApiConfig>
        <add key="EnableSwagger" value="#{EnableSwagger}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </ApiConfig>
    <OnePlaceConfig>
        <add key="Url" value="#{OnePlaceUrl}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ApiVersion" value="#{OnePlaceApiVersion}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ConsumerKey" value="#{OnePlaceConsumerKey}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ConsumerSecret" value="#{OnePlaceConsumerSecret}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Username" value="#{OnePlaceUsername}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Password" value="#{OnePlacePassword}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SecurityToken" value="#{OnePlaceSecurityToken}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </OnePlaceConfig>
    <SearchConfig>
        <add key="IndexName" value="#{IndexName}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    </SearchConfig>
    <GoogleRecaptchaConfig>
        <add key="ReCaptchaApiSecretKey" value="#{ReCaptchaApiSecretKey}"
            xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="ReCaptchaApiPublicKey" value="#{ReCaptchaApiPublicKey}"
            xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </GoogleRecaptchaConfig>
    <OslerNetworkConfig>
        <add key="OslerIpAddresses" value="#{OslerIpAddresses}"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </OslerNetworkConfig>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="#{CustomErrorsMode}"
                      xdt:Transform="SetAttributes"></customErrors>
    </system.web>
</configuration>
