const path = require('path');


//enter project folder name
const PROJECT_NAME = 'OslerAlumni.Mvc';

//set node env to start (process.env.node works with the cross-env npm package seen in package.json)
process.env.NODE_ENV = process.env.NODE_ENV || 'development';

const config = {
  //configure paths
  paths: {
    base: path.resolve(__dirname, `./${PROJECT_NAME}`),
    src: path.resolve(__dirname, `./${PROJECT_NAME}/src`),
    build: path.resolve(__dirname, `./${PROJECT_NAME}/wwwroot/build`),
    assets: path.resolve(__dirname, `./${PROJECT_NAME}/src/images`),
    assetsBuild: path.resolve(__dirname, `./${PROJECT_NAME}/wwwroot/build/images`),
    js: path.resolve(__dirname, `./${PROJECT_NAME}/src/js/app.js`),
    picturefill: path.resolve(__dirname, `./${PROJECT_NAME}/src/js/picturefill.min.js`),
    scss: path.resolve(__dirname, `./${PROJECT_NAME}/src/scss/style.scss`),
    admin_scss: path.resolve(__dirname, `./${PROJECT_NAME}/src/scss/admin.scss`),
  }
}

//check whether production; set to prod if true
const isProd = process.env.NODE_ENV === 'production' ? true : false;

module.exports = config;
