@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.PageTitle = "Invalid Token";
}

<div class="c-account">
    <div class="row align-center">
        <div class="columns medium-6 small-12">
            <div class="o-container o-container-centered">
                <h1>@ResHelper.GetString(Constants.ResourceStrings.ResetPassword.InvalidTokenHeader)</h1>
                <p>@ResHelper.GetString(Constants.ResourceStrings.ResetPassword.InvalidTokenDescription)</p>
                <a href="@Html.Osler().GetPageUrl(StandalonePageType.RequestPasswordReset)" class="is-small">@ResHelper.GetString(Constants.ResourceStrings.ResetPassword.InvalidTokenLinkText)</a>
            </div>
        </div>
    </div>
</div>
