ol {
    padding-left: $s-space;
}

ul {
    @include list-bullets();
    list-style: disc;
}

ol,ul {
    font-size: rem-calc(18px);
    @include breakpoint(medium) {
        font-size: rem-calc(20px);
    }

    li {
        ul, ol {
            margin-top: 0.25em; 
        }
    }
    
    li + li{
        margin-top: 0.25em;
    }
}

li {
    a {
        vertical-align: top;
    }
}

.unstyled {
    @include list-unstyled; 
    li {
        padding-left: 0;
    }
}

.has-unstyled-list {
    ul {
        @include list-unstyled; 
        li {
            padding-left: 0;
            &:before {
                content: none !important;
            }
        }
    }
}