.c-accordion {
    border: 0.5px solid $color-grey;
    border-radius: 3px;
    margin-bottom: $xxxs-space;
    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $xs-space;
        h2 {
            margin: 0;
        }
    }
    &-heading-wrap {
        margin-bottom: $xs-space;
    }
    &-groups {
        margin-bottom: $xs-space;
    }
    &-head {
        @extend .c-button;
        display: flex;
        align-items: center;
        padding: $s-space;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        font-family: $font-bold;
        color: $color-grey;
        font-size: 16px;
        &:after {
            height: rem-calc(16px);
            width: rem-calc(14px);
            margin-left: $xxxs-space;
        }
        &[aria-expanded="false"] {
            &:after {
                content: url('/build/images/icons/ico-plus.svg');
            }
        }
        &[aria-expanded="true"] {
            &:after {
                content: url('/build/images/icons/ico-minus.svg');
            }
        }
    }
    &-panel {
        form {
            margin-top: $xxxs-space;
        }
        &[aria-hidden="true"] {
            max-height: 0;
            margin-top: 0;
            transform: translateY(-1rem);

            visibility: hidden;
            opacity: 0;
            transition: max-height 400ms, visibility 0s 400ms, opacity 0ms, transform 400ms;

            .c-accordion-body {
                display: none;
            }
        }

        &[aria-hidden="false"] {
            visibility: visible;
            opacity: 1;
            transition: max-height 400ms, visibility 0s, opacity 350ms ease, transform 400ms;
            max-height: none;
            transform: translateY(0);
        }
    }
    &-body {
        padding: 0 $s-space $s-space;
        input[type="text"] {
            font-size: 1rem;
        }
        fieldset {
            margin-top: $xxs-space;
        }
    }
    &-clear {
        @extend .is-small;
    }
    &-wrap {
        margin-top: $s-space;
        margin-bottom: $xs-space;
        @include breakpoint(large) {
            margin-bottom: $m-space;
        }
    }
}
