.c-header {
    @include flex;
    background: $color-white;

    @include breakpoint(medium down) {
        border-bottom: 2px solid $color-red;
    }

    &-logo {
        display: inline-block;
        width: 100%;
    }

    &-login { 

        @include breakpoint(large) {
            margin-left: $m-space;
        }
        
        @include breakpoint(medium down) {
            display: none;
        }

        p {
            font-size: rem-calc(16px);
            margin-bottom: 0;
        }
        a {
            text-decoration: underline;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        .c-button {
            text-decoration: none;
            text-transform: uppercase;
        }


    }
}
