.c-lead {
    @include padding-y();
    @include flex-center();
    flex-direction: column;
    text-align: center;

    h2 {
        @extend h5;
    }
    p {
        font-family: $font-bold;
        font-size: rem-calc(18px);
        line-height: 26px;
        margin-bottom: 0;
        max-width: 100%;
        @include breakpoint(medium) {
            font-size: rem-calc(22px);
            line-height: 32px;
            max-width: 85%;
        }
    }
}
