.c-social {
    @include flex-row;
    justify-content: center;
    margin-left: 0;
    @include breakpoint(large) {
        justify-content: flex-end;
        margin-left: 15px;
    }
    &-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        &:last-child {
            svg {
                margin-right: 0;
            }
        }
    }
}
