@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Extensions.OslerControls.RichTextField
@using OslerAlumni.Mvc.Models
@model ResetPasswordPageViewModel

<div aria-live="polite">
    <div class="c-form-success is-full hide">
        <div class="row align-center">
            <div class="columns medium-7">
                <div class="o-container o-container-centered">
                    <h1 class="cloak-h3">
                        @Model.SuccessHeader
                    </h1>
                    @if (!string.IsNullOrWhiteSpace(Model.SuccessDescription))
                    {
                        @Html.OslerForModel().RichTextFieldFor(Model.SuccessDescription).ToHtmlString()
                    }
                </div>
            </div>
        </div>
    </div>
</div>
