// layout
@mixin flex-column() {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-row() {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// lists
@mixin list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
    }
}

@mixin list-bullets {
    margin-left: $xs-space;
    padding-bottom: $xs-space;
    padding-left: $s-space;
    li {
        padding-left: rem-calc(26px);
    }
}

// paddings
@mixin padding {
    padding: rem-calc($padding-y) rem-calc($padding-x);
    @include breakpoint(large) {
      padding: rem-calc($padding-y-large) rem-calc($padding-x-large);
    }
}

@mixin padding-x {
    padding: 0 rem-calc($padding-x);
    @include breakpoint(large) {
        padding: 0 rem-calc($padding-x-large);
    }
}

@mixin padding-y {
    padding: rem-calc($padding-y) 0;
    @include breakpoint(large) {
        padding: rem-calc($padding-y-large) 0;
    }
}

@mixin padding-none {
    padding: 0!important;
}

@mixin no-padding-top {
    padding-top: 0!important;
}

@mixin no-padding-bottom {
    padding-bottom: 0!important;
}

// margins

@mixin margin-none {
    margin: 0!important;
}

@mixin no-margin-top {
    margin-top: 0!important;
}

@mixin no-margin-bottom {
    margin-bottom: 0!important;
}

// transforms

@mixin transform-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 200ms, transform 400ms;
}

@mixin transform-hidden {
    // height: 0;
    // width: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 400ms, opacity 200ms, transform 400ms;
}

// typography
@mixin text-small($color-grey-dark) {
    color: $color-grey-dark;
    font-size: rem-calc(16px);
    line-height: 24px;
}

@mixin text-mini {
    font-size: rem-calc(14px);
    line-height: 26px;
}

// icons

@mixin blue-arrow {
    position: absolute;
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13'%3E%3Cpath fill='%23355E7C' d='M9.2892767,13.0357233 C9.41725907,13.1637057 9.56611673,13.225 9.75,13.225 C9.93388327,13.225 10.0827409,13.1637057 10.2107233,13.0357233 L15.3107233,7.9357233 C15.4387057,7.80774093 15.5,7.65888327 15.5,7.475 C15.5,7.29111673 15.4387057,7.14225907 15.3146943,7.01816046 L14.4482233,6.1892767 C14.3202409,6.06129433 14.1713833,6 13.9875,6 C13.8036167,6 13.6547591,6.06129433 13.5267767,6.1892767 L9.75,9.96605339 L5.9732233,6.1892767 C5.84524093,6.06129433 5.69638327,6 5.5125,6 C5.32861673,6 5.17975907,6.06129433 5.04780566,6.19316046 L4.1892767,7.0142767 C4.06129433,7.14225907 4,7.29111673 4,7.475 C4,7.65888327 4.06129433,7.80774093 4.1892767,7.9357233 L9.2892767,13.0357233 Z' transform='rotate(-90 5.25 11.113)'/%3E%3C/svg%3E") center left no-repeat;
    height: 100%;
    top: 0;
}

@mixin gray-arrow {
    position: absolute;
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13'%3E%3Cpath fill='%23747B82' d='M9.2892767,13.0357233 C9.41725907,13.1637057 9.56611673,13.225 9.75,13.225 C9.93388327,13.225 10.0827409,13.1637057 10.2107233,13.0357233 L15.3107233,7.9357233 C15.4387057,7.80774093 15.5,7.65888327 15.5,7.475 C15.5,7.29111673 15.4387057,7.14225907 15.3146943,7.01816046 L14.4482233,6.1892767 C14.3202409,6.06129433 14.1713833,6 13.9875,6 C13.8036167,6 13.6547591,6.06129433 13.5267767,6.1892767 L9.75,9.96605339 L5.9732233,6.1892767 C5.84524093,6.06129433 5.69638327,6 5.5125,6 C5.32861673,6 5.17975907,6.06129433 5.04780566,6.19316046 L4.1892767,7.0142767 C4.06129433,7.14225907 4,7.29111673 4,7.475 C4,7.65888327 4.06129433,7.80774093 4.1892767,7.9357233 L9.2892767,13.0357233 Z' transform='rotate(-90 5.25 11.113)'/%3E%3C/svg%3E") center left no-repeat;
    height: 100%;
    top: 0;
}

@mixin gray-light-arrow {
    position: absolute;
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13'%3E%3Cpath fill='%23BBBBBB' d='M9.2892767,13.0357233 C9.41725907,13.1637057 9.56611673,13.225 9.75,13.225 C9.93388327,13.225 10.0827409,13.1637057 10.2107233,13.0357233 L15.3107233,7.9357233 C15.4387057,7.80774093 15.5,7.65888327 15.5,7.475 C15.5,7.29111673 15.4387057,7.14225907 15.3146943,7.01816046 L14.4482233,6.1892767 C14.3202409,6.06129433 14.1713833,6 13.9875,6 C13.8036167,6 13.6547591,6.06129433 13.5267767,6.1892767 L9.75,9.96605339 L5.9732233,6.1892767 C5.84524093,6.06129433 5.69638327,6 5.5125,6 C5.32861673,6 5.17975907,6.06129433 5.04780566,6.19316046 L4.1892767,7.0142767 C4.06129433,7.14225907 4,7.29111673 4,7.475 C4,7.65888327 4.06129433,7.80774093 4.1892767,7.9357233 L9.2892767,13.0357233 Z' transform='rotate(-90 5.25 11.113)'/%3E%3C/svg%3E") center left no-repeat;
    height: 100%;
    top: 0;
}

@mixin red-arrow {
    position: absolute;
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13'%3E%3Cpath fill='%23CD153E' d='M9.2892767,13.0357233 C9.41725907,13.1637057 9.56611673,13.225 9.75,13.225 C9.93388327,13.225 10.0827409,13.1637057 10.2107233,13.0357233 L15.3107233,7.9357233 C15.4387057,7.80774093 15.5,7.65888327 15.5,7.475 C15.5,7.29111673 15.4387057,7.14225907 15.3146943,7.01816046 L14.4482233,6.1892767 C14.3202409,6.06129433 14.1713833,6 13.9875,6 C13.8036167,6 13.6547591,6.06129433 13.5267767,6.1892767 L9.75,9.96605339 L5.9732233,6.1892767 C5.84524093,6.06129433 5.69638327,6 5.5125,6 C5.32861673,6 5.17975907,6.06129433 5.04780566,6.19316046 L4.1892767,7.0142767 C4.06129433,7.14225907 4,7.29111673 4,7.475 C4,7.65888327 4.06129433,7.80774093 4.1892767,7.9357233 L9.2892767,13.0357233 Z' transform='rotate(-90 5.25 11.113)'/%3E%3C/svg%3E") center left no-repeat;
    height: 100%;
    top: 0;
}

@mixin orange-arrow {
    position: absolute;
    content: '';
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8px' height='14px' viewBox='0 0 8 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3echevron right%3c/title%3e%3cg id='chevron-right' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='chevron-right-g' transform='translate(-337.000000, -534.000000)' fill='%23F79C24'%3e%3cg id='Side-Menu' transform='translate(120.000000, 444.000000)'%3e%3cpath d='M224.758976,97.0800904 L218.914135,102.924931 C218.773537,103.065529 218.602812,103.135827 218.401958,103.135827 C218.201105,103.135827 218.030379,103.065529 217.889782,102.924931 L217.226965,102.262114 C217.086367,102.121516 217.011047,101.950791 217.001004,101.749937 C216.990962,101.549083 217.056239,101.378358 217.196837,101.237761 L221.866683,96.5679137 L217.196837,91.8980668 C217.056239,91.7574691 216.990962,91.5867438 217.001004,91.38589 C217.011047,91.1850363 217.086367,91.014311 217.226965,90.8737133 L217.889782,90.2108963 C218.030379,90.0702986 218.201105,90 218.401958,90 C218.602812,90 218.773537,90.0702986 218.914135,90.2108963 L224.758976,96.0557369 C224.919658,96.1963346 225,96.3670599 225,96.5679137 C225,96.7687674 224.919658,96.9394927 224.758976,97.0800904 Z' id='Chevron-right'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e") center no-repeat;
    height: 100%;
    top: 0;
}

@mixin icon-trash-blue-dark {
    position: absolute;
    content: '';
    background: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23355E7C' fill-rule='nonzero'%3E%3Cpath d='M9.247 11.022H2.491c-.046 0-.092-.003-.138-.008l.128.017a1.061 1.061 0 01-.25-.067c.039.016.077.033.116.048a1.013 1.013 0 01-.232-.135l.098.076a1.029 1.029 0 01-.178-.177l.076.098a1.059 1.059 0 01-.135-.232l.049.116a1.061 1.061 0 01-.067-.25l.017.128c-.013-.108-.008-.217-.008-.325v-.58-.88-1.084V6.58 5.371v-1.13-.951-.69-.326-.014l-.483.483H10.249l-.482-.483V10.496c0 .047-.003.093-.009.14a4.64 4.64 0 00.017-.128 1.061 1.061 0 01-.066.25c.015-.039.032-.078.048-.116-.035.083-.08.16-.135.232l.076-.098a1.029 1.029 0 01-.178.177l.098-.076c-.071.055-.148.1-.232.135.039-.015.078-.032.116-.048-.08.033-.164.055-.25.067a4.64 4.64 0 01.128-.017.969.969 0 01-.133.008.501.501 0 00-.341.141.489.489 0 00-.141.342c.012.26.212.485.482.483.404-.004.81-.17 1.083-.47.255-.28.401-.637.404-1.017v-.295-.734-1.058-1.248-1.32-1.278V3.47v-.808-.385-.017a.49.49 0 00-.483-.483H1.485a.49.49 0 00-.483.483v8.152c0 .287.05.563.19.817.26.474.777.758 1.313.759h6.742c.253 0 .495-.222.483-.483a.492.492 0 00-.483-.483z'/%3E%3Cpath d='M7.278.012H4.498c-.245 0-.497.054-.701.194a1.253 1.253 0 00-.565 1.037c-.003.329 0 .657 0 .986v.032c0 .26.22.483.483.483H7.493c.174 0 .35.002.523 0h.007a.49.49 0 00.483-.483v-.71-.304a1.274 1.274 0 00-.302-.811 1.225 1.225 0 00-.926-.424c-.252-.002-.494.225-.482.483.012.264.212.48.482.483a.89.89 0 01.1.006 4.64 4.64 0 00-.129-.017c.064.01.126.025.186.05L7.32.97a.842.842 0 01.162.095L7.385.988a.81.81 0 01.143.143l-.076-.098c.038.051.07.105.094.163l-.048-.116c.024.06.041.122.05.186a4.64 4.64 0 01-.016-.128c.016.133.006.272.006.405v.717l.483-.483H4.242c-.174 0-.349-.004-.522 0h-.008l.483.483v-.93c0-.064-.001-.128.006-.192a4.64 4.64 0 00-.017.128.772.772 0 01.051-.186l-.048.116a.842.842 0 01.094-.163l-.076.098a.81.81 0 01.143-.143l-.097.076a.842.842 0 01.163-.095l-.116.049a.832.832 0 01.186-.051 4.64 4.64 0 01-.128.017c.113-.015.232-.006.346-.006h2.574c.252 0 .495-.222.483-.483a.488.488 0 00-.48-.483z'/%3E%3Cpath d='M11.245 1.777H.491c-.252 0-.495.222-.483.483a.492.492 0 00.483.483H11.245c.253 0 .495-.222.483-.483a.492.492 0 00-.483-.483zM4.81 9.332v-.488-1.172-1.411-1.226c0-.198.003-.396 0-.594v-.008c0-.252-.222-.495-.483-.483a.492.492 0 00-.483.483V8.73c0 .198-.004.396 0 .594v.008c0 .252.222.495.483.483a.49.49 0 00.483-.483zM7.89 9.332v-.488-1.172-1.411-1.226c0-.198.004-.396 0-.594v-.008c0-.252-.222-.495-.482-.483a.492.492 0 00-.483.483V8.73c0 .198-.004.396 0 .594v.008c0 .252.222.495.483.483a.49.49 0 00.483-.483z'/%3E%3C/g%3E%3C/svg%3E") center 44% no-repeat;
    height: 100%;
    top: 0;
}

@mixin icon-trash-blue-light {
    position: absolute;
    content: '';
    background: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23C8DBE1' fill-rule='nonzero'%3E%3Cpath d='M9.247 11.022H2.491c-.046 0-.092-.003-.138-.008l.128.017a1.061 1.061 0 01-.25-.067c.039.016.077.033.116.048a1.013 1.013 0 01-.232-.135l.098.076a1.029 1.029 0 01-.178-.177l.076.098a1.059 1.059 0 01-.135-.232l.049.116a1.061 1.061 0 01-.067-.25l.017.128c-.013-.108-.008-.217-.008-.325v-.58-.88-1.084V6.58 5.371v-1.13-.951-.69-.326-.014l-.483.483H10.249l-.482-.483V10.496c0 .047-.003.093-.009.14a4.64 4.64 0 00.017-.128 1.061 1.061 0 01-.066.25c.015-.039.032-.078.048-.116-.035.083-.08.16-.135.232l.076-.098a1.029 1.029 0 01-.178.177l.098-.076c-.071.055-.148.1-.232.135.039-.015.078-.032.116-.048-.08.033-.164.055-.25.067a4.64 4.64 0 01.128-.017.969.969 0 01-.133.008.501.501 0 00-.341.141.489.489 0 00-.141.342c.012.26.212.485.482.483.404-.004.81-.17 1.083-.47.255-.28.401-.637.404-1.017v-.295-.734-1.058-1.248-1.32-1.278V3.47v-.808-.385-.017a.49.49 0 00-.483-.483H1.485a.49.49 0 00-.483.483v8.152c0 .287.05.563.19.817.26.474.777.758 1.313.759h6.742c.253 0 .495-.222.483-.483a.492.492 0 00-.483-.483z'/%3E%3Cpath d='M7.278.012H4.498c-.245 0-.497.054-.701.194a1.253 1.253 0 00-.565 1.037c-.003.329 0 .657 0 .986v.032c0 .26.22.483.483.483H7.493c.174 0 .35.002.523 0h.007a.49.49 0 00.483-.483v-.71-.304a1.274 1.274 0 00-.302-.811 1.225 1.225 0 00-.926-.424c-.252-.002-.494.225-.482.483.012.264.212.48.482.483a.89.89 0 01.1.006 4.64 4.64 0 00-.129-.017c.064.01.126.025.186.05L7.32.97a.842.842 0 01.162.095L7.385.988a.81.81 0 01.143.143l-.076-.098c.038.051.07.105.094.163l-.048-.116c.024.06.041.122.05.186a4.64 4.64 0 01-.016-.128c.016.133.006.272.006.405v.717l.483-.483H4.242c-.174 0-.349-.004-.522 0h-.008l.483.483v-.93c0-.064-.001-.128.006-.192a4.64 4.64 0 00-.017.128.772.772 0 01.051-.186l-.048.116a.842.842 0 01.094-.163l-.076.098a.81.81 0 01.143-.143l-.097.076a.842.842 0 01.163-.095l-.116.049a.832.832 0 01.186-.051 4.64 4.64 0 01-.128.017c.113-.015.232-.006.346-.006h2.574c.252 0 .495-.222.483-.483a.488.488 0 00-.48-.483z'/%3E%3Cpath d='M11.245 1.777H.491c-.252 0-.495.222-.483.483a.492.492 0 00.483.483H11.245c.253 0 .495-.222.483-.483a.492.492 0 00-.483-.483zM4.81 9.332v-.488-1.172-1.411-1.226c0-.198.003-.396 0-.594v-.008c0-.252-.222-.495-.483-.483a.492.492 0 00-.483.483V8.73c0 .198-.004.396 0 .594v.008c0 .252.222.495.483.483a.49.49 0 00.483-.483zM7.89 9.332v-.488-1.172-1.411-1.226c0-.198.004-.396 0-.594v-.008c0-.252-.222-.495-.482-.483a.492.492 0 00-.483.483V8.73c0 .198-.004.396 0 .594v.008c0 .252.222.495.483.483a.49.49 0 00.483-.483z'/%3E%3C/g%3E%3C/svg%3E") center 44% no-repeat;
   
    height: 100%;
    top: 0;
}


// links

@mixin link-inline() {
    text-decoration: none;
    box-shadow: 0 2px 0 transparent;
    // color: $blue;
    &:hover, &:focus {
        // color: ??
        box-shadow: 0 2px 0 $color-orange;
        text-decoration: none;
    }
}
