@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
@model OslerAlumni.Core.Models.YearAndJurisdiction
<p>
    @ResHelper.GetStringFormat(Constants.ResourceStrings.Form.MembershipBasicInfo.YearOfCallAndJurisdictionFormat, Model.Year, Model.Jurisdiction)
</p>
