html {
    display: flex;
    font-size: rem-calc(16px);
}

body {
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    color: $color-grey;
    flex-flow: column nowrap;
    line-height: 26px;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

:focus {
    outline: $border-focus-dotted;
}

header, footer {
    flex-shrink: 0;
}

main {
    @include flex-column;
    flex-grow: 1;
    font-size: rem-calc(16px);
    position: relative;
    > div {
        padding: $m-space 0;
    }
    @include breakpoint(medium) {
        font-size: rem-calc(18px);
    }
}

.row {
    width: 100%;
}

// temp / Shame
.c-home {
    // margin: -#{$l-space} 0 0 0;
    padding: 0;

}

.b-lazy {
    opacity:0;
    transform: scale(0);
    transition: all 500ms;
 }

 .b-loaded {
    opacity:1;
    transform: scale(1);
 }

 input[type="text"]::-ms-clear {
    display: none;
}

// colors 
.is-red {
    color: $color-red !important;
}

.is-grey {
    color: $color-grey !important;
}

div:focus {
    outline: none !important;
}