<div class="c-list-error-server" tabindex="0">
    <p class="c-list-error-server-title">
        <!-- <img class="c-svg" src="/build/images/icons/ico-error.svg" alt=""> -->
        @ResHelper.GetString(Constants.ResourceStrings.ListNoResultsMessage)</p>
</div>
