<div class="o-overlay">
        <!-- The 'Minhal' option -->
        <div role="presentation" class="c-loader" aria-live="polite">
        <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <p class="c-loader-text">@ResHelper.GetString(Constants.ResourceStrings.Loading)</p>
    </div>
</div>