<svg viewBox="0 0 14 15" version="1.1" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="title" focusable="false">
    <title>Search the Osler Alumni site</title>
    <defs></defs>
    <g id="Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Events-Template-Design" transform="translate(-1293.000000, -82.000000)" fill="#CD153E">
            <g id="Desktop-Navigation-Design">
                <g id="Group-7" transform="translate(1071.000000, 70.000000)">
                    <path d="M235.808561,24.8632816 C235.936165,24.9908856 235.999967,25.1458328 235.999967,25.3281242 C235.999967,25.5104156 235.936165,25.6653629 235.808561,25.7929669 L235.042938,26.55859 C234.915334,26.686194 234.760386,26.7499958 234.578095,26.7499958 C234.395804,26.7499958 234.240856,26.686194 234.113252,26.55859 L231.378884,23.8242216 C231.25128,23.6966176 231.187478,23.5416703 231.187478,23.3593789 L231.187478,22.92188 C230.166647,23.7239612 228.999983,24.1250021 227.687486,24.1250021 C226.648426,24.1250021 225.695955,23.8697945 224.830071,23.3593789 C223.964188,22.8489633 223.276039,22.1608142 222.765623,21.2949307 C222.255208,20.4290472 222,19.4765757 222,18.4375156 C222,17.3984556 222.255208,16.4459841 222.765623,15.5801006 C223.276039,14.7142171 223.964188,14.026068 224.830071,13.5156524 C225.695955,13.0052368 226.648426,12.7500292 227.687486,12.7500292 C228.726546,12.7500292 229.679018,13.0052368 230.544902,13.5156524 C231.410785,14.026068 232.098934,14.7142171 232.60935,15.5801006 C233.119765,16.4459841 233.374973,17.3984556 233.374973,18.4375156 C233.374973,19.7500125 232.973932,20.9166765 232.171851,21.9375073 L232.60935,21.9375073 C232.791641,21.9375073 232.946588,22.0013091 233.074192,22.1289131 L235.808561,24.8632816 Z M227.687486,21.9375073 C228.325506,21.9375073 228.913395,21.7825596 229.451154,21.4726647 C229.988913,21.1627697 230.41274,20.7389426 230.722635,20.2011833 C231.03253,19.663424 231.187478,19.0755348 231.187478,18.4375156 C231.187478,17.7994965 231.03253,17.2116072 230.722635,16.673848 C230.41274,16.1360887 229.988913,15.7122616 229.451154,15.4023666 C228.913395,15.0924717 228.325506,14.937524 227.687486,14.937524 C227.049467,14.937524 226.461578,15.0924717 225.923819,15.4023666 C225.386059,15.7122616 224.962232,16.1360887 224.652337,16.673848 C224.342442,17.2116072 224.187495,17.7994965 224.187495,18.4375156 C224.187495,19.0755348 224.342442,19.663424 224.652337,20.2011833 C224.962232,20.7389426 225.386059,21.1627697 225.923819,21.4726647 C226.461578,21.7825596 227.049467,21.9375073 227.687486,21.9375073 Z" id="Search"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
