@model dynamic

<div id="@ViewBag.DivId" class="c-form-field c-form-field-dropdown" data-toggled-by="FileUpload" aria-hidden ="true">
    <div class="c-form-field-wrapper">
        @Html.Raw(ViewBag.Label)
        @Html.Raw(ViewBag.DropDownList)
    </div>
    <span class="c-form-error-message" id="error-@ViewBag.ElementId"></span>
</div>
