@model dynamic

<div class="c-form-field-wrapper">
    @Html.Raw(ViewBag.Label)
    @Html.Raw(ViewBag.Editor)
    <div aria-live="polite">
        <p class="c-form-error-message hide">@ViewBag.JsValidationError</p>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.ExplanationText))
{
    <p>@ViewBag.ExplanationText</p>
}

<span class="c-form-error-message" id=""></span>
