@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
@model IEnumerable<OslerAlumni.Mvc.Core.Models.CtaViewModel>

@if (Model?.Any() ?? false)
{
    <div class="o-container-row c-related has-bg-blue">
        <div class="row">
            <div class="columns medium-12">
                <h4 class="o-container-heading cloak-h2 is-centered">@ResHelper.GetString(Constants.ResourceStrings.RelatedContentHeader)</h4>
                <div class="c-cta-wrap">
                    @foreach (var cta in Model)
                    {
                        @Html.DisplayFor(vm => cta, "RelatedContentCta")
                    }
                </div>
            </div>
        </div>
    </div>
}

