a {
    color: currentColor;
    transition: all $transition-timing;
    text-decoration: underline;
    line-height: 1.3;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &.is-small {
        @include text-small($color-blue);
        text-decoration: underline;
    }
    &.is-large {
        font-size: rem-calc(20px);
        @include breakpoint(medium) {
            font-size: rem-calc(24px);
        }
    }
    &.is-mini {
        @include text-mini;
    }
    &.is-bold {
        font-family: $font-bold;
    }
    &.is-inline:not(.c-link):not(.c-button) {
        text-decoration: underline;
        color: $color-blue;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    &.no-underline {
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    &.is-external {
        &:after {
            background: url('/build/images/icons/ico-external.svg') no-repeat center;
        }
    }
    &.is-internal {
        &:after {
            background: url('/build/images/icons/ico-page.svg') no-repeat center;
        }
    }
    &.is-external.is-file,
    &.is-internal.is-file {
        &:after {
            background: url('/build/images/icons/ico-file.svg') no-repeat center;
        }
    }
    &.is-internal,
    &.is-external,
    &.is-file {
        display: inline-block;
        &:after {
            content: '';
            position: absolute;
            background-size: 1.15rem;
            width: 1.4rem;
            height: 1.4rem;
            margin-left: $xxxs-space;
            bottom: 2px;
            @include breakpoint(medium) {
                background-size: 1.15rem;
                width: 1.4rem;
                height: 1.4rem;
                bottom: auto;
            }
        }
        & {
            position: relative;
        }
    }
}

h2 {
    a {
        display: inline-block;
        &.is-internal,
        &.is-external {
            &:after {
                @include breakpoint(medium) {
                    background-size: $s-space;
                    width: 1.75rem;
                    height: 2rem;
                }
            }
        }
        .c-feature-content & {
            &.is-internal,
            &.is-external {
                &:after {
                    bottom: $xxxs-space;
                }
            }
        }
    }
}
