p {
    margin-bottom: 0.75em;
    font-size: rem-calc(18px);
    line-height: 1.15;
    @include breakpoint(medium) {
        font-size: rem-calc(20px);
    }
    &.is-description {
        font-size: rem-calc(18px);
        color: $color-grey;
        @include breakpoint(medium) {
            font-size: rem-calc(20px);
        }
    }
    &.is-small {
        color: $color-grey;
        font-size: rem-calc(16px);
        @include breakpoint(medium) {
            font-size: rem-calc(18px);
        }
    }
    &.is-medium {
        font-size: rem-calc(18px);
    }
    &.is-large {
        font-size: rem-calc(18px);
        font-family: $font-bold;
        @include breakpoint(medium) {
            font-size: rem-calc(20px);
        }
        span {
            font-family: $font-primary;
        }
        &-body {
            color: inherit;
            font-size: rem-calc(18px);
            font-family: $font-primary;
            @include breakpoint(medium) {
                font-size: rem-calc(20px);
            }
        }
    }
    &.is-regular {
        font-family: $font-primary;
    }
    &.is-bold {
        font-family: $font-bold;
    }
    &.is-navy {
        color: $color-blue;
    }
    &.is-caps {
        text-transform: uppercase;
    }
    &.is-title {
        font-family: $font-bold;
        font-size: rem-calc(20px);

        @include breakpoint(medium) {
            font-size: rem-calc(24px);
        }
    }
    &.is-tag {
        font-size: rem-calc(16px);
        @include breakpoint(medium) {
            font-size: rem-calc(18px);
        }
    }
}
